.themify_builder_4430_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder_4430_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder .image-4430-0-0-0.module-image{background-repeat: repeat; background-position: left top; }
.themify_builder .plain-text-4430-1-0-0.module-plain-text{background-repeat: repeat; background-position: left top; }
