.themify_builder .tab-82-1-0-0.ui.module-tab{margin-bottom:0px; }
.themify_builder .text-82-2-0-0.module-text{padding-top:5px; padding-bottom:10px; border-top:1px solid #dbdbdb; }
.themify_builder .text-82-2-1-0.module-text{padding-top:5px; padding-bottom:10px; border-top:1px solid #dbdbdb; }
