.themify_builder_4339_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; padding-top:20px; }
.themify_builder_4339_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder .menu-4339-0-0-0.module-menu .nav li{background-color:#ffffff; font-family: Lato; font-weight: 400; font-size:18px; }
.themify_builder .menu-4339-0-0-0.module-menu .nav{text-align: center; }
