<!--     Premium Breakup Popup       -->
<modal-dialog show='premiumDetailsModal' width='900px' height='80vh' class="ng-hide RTOSearchDiv" style="overflow:auto;">
    <!-- <div class='ng-modal-close wp_modalClose' ng-click='hidePremiumModalCar()'>
            <i class="material-icons">close</i>
        </div> -->
    <div class="ang_loginWrap" layout-align="center center">
        <div layout="row" layout-xs="row" class="pad25255">
            <div flex="60" flex-xs="45" class="leftAlignTxt">
                <img ng-src="{{$root.wp_path}}img/clogo/{{premiumDetails.carrierId}}.png" />
                <p class="font15 hideForMobile">{{premiumDetails.planName}}</p>
            </div>
            <div flex="35" flex-xs="45" class="resp_selfCenter">
                <div class="width55 resp_width80 iPad_width40 side25Mar resp_autoMar">
                    <div class="buyNowBtn posRel cursor">
                        <p class="pinkFeTxt topBot1Mar popAddToCartBtn bold12 resp_font9">Premium</p>
                        <p class="pinkFeTxt bold24 topBot5Mar resp_font14">&#8377; {{premiumDetails.netPremium | number:0}}</p>
                    </div>
                    <div class="centerAlignTxt topBot2Mar font10">Exclusive of GST</div>
                </div>
            </div>
            <div flex="5" class='ng-modal-close wp_modalClose buyOwnerBtn cursor' ng-click='hidePremiumDetails()'>
                <i class="material-icons greyb7Txt">highlight_off</i>
            </div>
        </div>
        <div>
            <md-content>
                <md-tabs class="popTab garMod greyTab" md-selected="$root.selectedTabTravel" md-dynamic-height md-swipe-content>
                    <md-tab label="Premium Details">
                        <div style="max-height:50vh;overflow:auto;">
                            <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        Basic Premium
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row" ng-if="premiumDetails.netPremium | number:0 > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>
                                                </p>
                                            </div>
                                            <div flex="30" flex-xs="30" class="right">
                                                <p>&#8377; {{premiumDetails.netPremium | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-body-1" layout="row">
                                        <div flex="33" flex-xs="40" class="vertAlignCenter">
                                           GST 18 %
                                        </div>
                                        <div flex="66" flex-xs="60">
                                            <div layout="row" ng-if="premiumDetails.serviceTax | number:0 > 0">
                                                <div flex="50" flex-xs="70">
                                                    <p>
                                                    </p>
                                                </div>
                                                <div flex="30" flex-xs="30" class="right">
                                                    <p>&#8377; {{premiumDetails.serviceTax | number:0 | regexINR}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md-body-1" layout="row">
                                            <div flex="33" flex-xs="40" class="vertAlignCenter">
                                                Total Premium
                                            </div>
                                            <div flex="66" flex-xs="60">
                                                <div layout="row" ng-if="premiumDetails.grossPremium | number:0 > 0">
                                                    <div flex="50" flex-xs="70">
                                                        <p>
                                                        </p>
                                                    </div>
                                                    <div flex="30" flex-xs="30" class="right">
                                                        <p>&#8377; {{premiumDetails.grossPremium | number:0 | regexINR}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label="Service Ratings">
                        <md-content class="md-padding resp_servScroll">
                            <div class="md-body-2">
                                <div class="md-body-1" layout-xs="column"  layout="row">
                                    <div flex="20" flex-xs="100" class="centerAlignTxt selfCenter">
                                            <img ng-src="{{$root.wp_path}}img/professionalJourney/Service_Rating_Star_ResultScreen.png">
                                    </div>
                                    <div flex="60" flex-xs="100">
                                            <p class="noMargin grey4BTxt"><b>Service Ratings?</b></p>
                                            <p class="font12 grey4BTxt">The service rating signifies the ability to pay claims, history of settled claims and customer grievance resolution.</p>
                                            <p class="font12 grey4BTxt">The service rating is a relative rating derived using the trend of following factors reported to IRDA by different insurance companies. Higher the rating better it is.</p>
                                            <ul class="font12 grey4BTxt">
                                                <li><span>-&nbsp;</span>Incurred Claim Ratio</li>
                                                <li><span>-&nbsp;</span>Solvency Ratio</li>
                                                <li><span>-&nbsp;</span>Grievance Resolved</li>
                                            </ul>
                                    </div>
                                    <div flex="20" flex-xs="100" class="selfCenter">
                                            <p class="font24 noMargin grey4BTxt resp_font14 pad10 center">{{premiumDetails.insurerIndex|number:1}}</p>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Claim Settlement Ratio">
                        <md-content class="md-padding resp_servScroll">
                            <div class="md-body-3">
                                <div class="md-body-1" layout-xs="column" layout="row">
                                    <div flex="20" flex-xs="100" class="centerAlignTxt selfCenter">
                                       <img ng-src="{{$root.wp_path}}img/professionalJourney/Claim_Rating_Star_ResultScreen.png">
                                    </div>
                                    <div flex="60" flex-xs="100">
                                        <p class="noMargin grey4BTxt"><b>Claim Settlement Ratio</b></p>
                                        <p class="font12 grey4BTxt">Claim Settlement Ratio indicates the number of claims settled by the life insurance company in a financial year.It is calculated as the total number of claims received against the total number of claims settled.</p>
                                    </div>
                                    <div flex="20"  flex-xs="100" class="selfCenter">
                                        <p class="font24 noMargin grey4BTxt resp_font14 center">{{premiumDetails.claimRatioTravel}}</p>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>  
                   
                </md-tabs>
            </md-content>
        </div>
    </div>
</modal-dialog>
<!--     Premium Breakup Popup       -->
