<loading></loading>

<div class="successBg ang_loginWrap" ng-if="!isFromMobileApp">
	<div class="centerAlignTxt font15 side28PerPad resp_side5Pad">
		<h3 class="topBot3Mar paySuccessTitle">
			Payment Successful
		</h3>
		<p class="wp_payFlP">
			We thank you for choosing Policies365 for your insurance needs. You would receive a confirmation for the premium paid along
			with the policy copy attached in a short while
		</p>
		<p class="wp_payFlP">
			<span class="grey666Txt">The policy details are as follows:</span>
			<div layout="row" class="resp_side5Pad">
				<div flex="45" class="leftAlignTxt">
					<p>Policy Certificate Number</p>
				</div>
				<div flex="10" class="centerAlignTxt">
					<p>:</p>
				</div>
				<div flex="45" class="leftAlignTxt">
					<p class="pinkFont">
						<a href="" ng-click="viewPolicy()" class="pinkFont">
							{{proposalDataResponse.bikePolicyResponse.policyNo}}
						</a>
					</p>
				</div>
			</div>
			<div layout="row" class="resp_side5Pad">
				<div flex="45" class="leftAlignTxt">
					<p>{{p365Labels.common.policyStartDate}}</p>
				</div>
				<div flex="10" class="centerAlignTxt">
					<p>:</p>
				</div>
				<div flex="45" class="leftAlignTxt">
					<p>{{proposalDataResponse.policyStartDate}}</p>
				</div>
			</div>
			<div layout="row" class="resp_side5Pad">
				<div flex="45" class="leftAlignTxt">
					<p>{{p365Labels.common.policyEndDate}}</p>
				</div>
				<div flex="10" class="centerAlignTxt">
					<p>:</p>
				</div>
				<div flex="45" class="leftAlignTxt">
					<p>{{proposalDataResponse.policyExpiryDate}}</p>
				</div>
			</div>
			<div layout="row" class="resp_side5Pad">
				<div flex="45" class="leftAlignTxt">
					<p>{{p365Labels.common.premiumPaid}}</p>
				</div>
				<div flex="10" class="centerAlignTxt">
					<p>:</p>
				</div>
				<div flex="45" class="leftAlignTxt">
					<p>₹ {{proposalDataResponse.proposalRequest.premiumDetails.grossPremium}}</p>
				</div>
			</div>
		</p>
		<div class="border1Bot" style="margin: 0em 6em;"></div>
		<p>{{p365Labels.errorMessage.helpLineMessage + " " + p365Labels.errorMessage.helpLineText }} :
				<a class="pinkFont" href="tel:{{policies365Details.salesAssistNumber.trimed}}">
					<u>{{policies365Details.salesAssistNumber.displayWithBracket}}</u>
				</a>
			</p>
			<p>({{policies365Details.officeHours}}){{policies365Details.orWriteToUsAt}}:
				<a class="pinkFont" href="mailto:{{policies365Details.emailId.contact}}">
					<u>{{policies365Details.emailId.contact}}</u>
				</a>
			</p>
			<div ng-if="agencyPortalEnabled">
				<a class="pinkFont" ng-click="redirectURL()">Go Back</a>
		</div>
	</div>
</div>


<!-- <div ng-if="!isFromMobileApp">
	<ng-container ng-if="$root.wordPressEnabled">
		<div ng-if="$root.affilateUser">
			<img ng-src="{{$root.wp_path}}img\Policies365_Logo.png" style="">
		</div>
		<div class="wp_InsideWrapperPaySuccess wp_paySectionBckgrnd wp_payBorder wp_pad20 wp_marginAutoSign wp_gradientBg">
			<h3 class="wp_paySuH3">
				<span><i class="fa fa-check-circle" aria-hidden="true"
				style="color: #6ABC59; font-size: 25px;"></i></span> {{p365Labels.common.paymenySuccessful}}
			</h3>
			<p class="wp_paySuP" data-bind-html-compile="p365Labels.template.thankyouDesc" data-ng-bind-html="p365Labels.template.thankyouDesc">

			</p>

			<div>
				<p class="wp_paySuDetailsP">{{p365Labels.common.policyDetails}}</p>
				<div layout="row" class="wp_paySuccessDetails">
					<div flex="35">
						<p class="wp_paySuP">{{p365Labels.common.policyCertificateNumber}}</p>
					</div>
					<div flex="10">
						<p class="wp_paySuP">:</p>
					</div>
					<div flex="55">
						<p class="wp_paySuP">
							<a href="" ng-click="viewPolicy()">
							{{bikeReponseToken.policyNo}} </a>
						</p>
					</div>
				</div>
				<div layout="row" class="wp_paySuccessDetails">
					<div flex="35">
						<p class="wp_paySuP">{{p365Labels.common.policyStartDate}}</p>
					</div>
					<div flex="10">
						<p class="wp_paySuP">:</p>
					</div>
					<div flex="55">
						<p class="wp_paySuP">{{bikeProposeFormDetails.insuranceDetails.policyStartDate}}</p>
					</div>
				</div>
				<div layout="row" class="wp_paySuccessDetails">
					<div flex="35">
						<p class="wp_paySuP">{{p365Labels.common.policyEndDate}}</p>
					</div>
					<div flex="10">
						<p class="wp_paySuP">:</p>
					</div>
					<div flex="55">
						<p class="wp_paySuP">{{bikeProposeFormDetails.insuranceDetails.policyEndDate}}</p>
					</div>
				</div>
				<div layout="row" class="wp_paySuccessDetails">
					<div flex="35">
						<p class="wp_paySuP">{{p365Labels.common.premiumPaid}}</p>
					</div>
					<div flex="10">
						<p class="wp_paySuP">:</p>
					</div>
					<div flex="55">
						<p class="wp_paySuP">&#x20B9; {{bikeProposeFormDetails.premiumDetails.grossPremium}}
						</p>
					</div>
				</div>
			</div>

			<div>
				<p class="wp_paySuP" data-bind-html-compile="p365Labels.template.contactDesc" data-ng-bind-html="p365Labels.template.contactDesc">

				</p>
			</div>
			<div>
				<p class="wp_paySuP">{{p365Labels.common.proverbLookForward}}
				</p>
			</div>
		</div>
		<div ng-if="$root.affilateRedirection">
			<h2 style="text-align: center;" data-bind-html-compile="p365Labels.template.redirectionDesc" data-ng-bind-html="p365Labels.template.redirectionDesc">
			</h2>
		</div>
	</ng-container>
	<ng-container ng-if="!$root.wordPressEnabled">
		<div class="editback">
			<div class="widthFull resultCommon">
				<div class="InsideWrapper">
					<div class="additionalfeatures">
						<div>
							<div class="float1">
								<img ng-src="{{$root.wp_path}}img\clogo\{{bikeProposeFormDetails.carrierId}}.png" />
							</div>
							<div class="float2" style="padding-right: 20%;">
								<h2 style="color: #414141;">{{p365Labels.common.congratulations}}</h2>
								<h4 style="color: #424242; text-align: center;">
									<b data-bind-html-compile="p365Labels.template.bikeNumber" data-ng-bind-html="p365Labels.template.bikeNumber"></b>
								</h4>
							</div>

							<div class="clear"></div>
						</div>
						<br> <br>
						<div>
							<div class="document_section1">
								<div class="width60">
									<label>{{p365Labels.common.policyNo}}</label>
									<div class="">
										<b>{{bikeReponseToken.policyNo}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.idv}}</label>
									<div class="">
										<b>&#8377;{{bikeProposeFormDetails.premiumDetails.insuredDeclareValue}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.ncb}}</label>
									<div class="">
										<b>{{bikeProposeFormDetails.premiumDetails.ncbPercentage}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.vehicle}}</label>
									<div class="">
										<b>{{bikeProposeFormDetails.vehicleDetails.make}}&nbsp;{{bikeBuyConfirmationDetais.vehicleDetails.model}},
										{{bikeProposeFormDetails.vehicleDetails.variant}},&nbsp;
										{{bikeProposeFormDetails.vehicleDetails.fuelType}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.email}}</label>
									<div class="">
										<b>{{bikeProposeFormDetails.proposerDetails.emailId}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.address}}</label>
									<div class="">
										<b>{{bikeProposeFormDetails.proposerDetails.addressLine1 +
										", " + bikeProposeFormDetails.proposerDetails.addressLine2}}</b>
									</div>
								</div>
							</div>
							<div class="document_section2">
								<div class="width60">
									<label>{{p365Labels.common.transactionId}}</label>
									<div class="">
										<b>{{bikeReponseToken.proposalId}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.premium}}</label>
									<div class="">
										<b>&#8377;{{bikeProposeFormDetails.premiumDetails.grossPremium}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.validity}}</label>
									<div class="">
										<b>{{bikeProposeFormDetails.insuranceDetails.policyStartDate}}</b> to <b>{{bikeProposeFormDetails.insuranceDetails.policyEndDate}}</b>
									</div>
								</div>
								<div class="width60">
									<label>{{p365Labels.common.mobileNo}}</label>
									<div class="">
										<b>{{bikeProposeFormDetails.proposerDetails.mobileNumber}}</b>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<div class="float2" style="padding-right: 20%;">
								<h5 style="color: #424242; text-align: center;">
									<b>{{p365Labels.common.downloadAfter30Min}}</b>
								</h5>
							</div>
						</div>
						<div class="clear"></div>
						<div style="text-align: center;">
							<a ng-click="viewPolicy()" class="bluebuybuttonbike" style="margin: 10px 0px 10px 0px;">{{p365Labels.common.viewPolicy}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</div> -->


<div ng-if="isFromMobileApp">


	<div class="editback ">
		<div class="widthFull resultCommon ">
			<div class="InsideWrapper ">
				<div class="additionalfeatures ">
					<div>
						<div class="float1 ">
							<img ng-src="img\clogo\{{policyInfo.carrierId}}.png " />
						</div>
						<div class="float2 " style="padding-right: 20%;">
							<h2 style="color: #414141;">{{p365Labels.common.congratulations}}</h2>
							<h4 style="color: #424242; text-align: center;">

								<b data-bind-html-compile="p365Labels.template.insuredBikeNumber" data-ng-bind-html="p365Labels.template.insuredBikeNumber"></b>

							</h4>
						</div>


						<div class="clear"></div>
					</div>
					<br> <br>
					<div>
						<div class="document_section1">
							<div class="width60">
								<label>{{p365Labels.common.policyNo}}</label>
								<div class="">
									<b>{{policyInfo.policyNo}}</b>
								</div>
							</div>
							<div class="width60">
								<label>{{p365Labels.common.idv}}</label>
								<div class="">
									<b>&#8377;{{policyInfo.idv}}</b>
								</div>
							</div>
							<div class="width60">
								<label>{{p365Labels.common.ncb}}</label>
								<div class="">
									<b>{{policyInfo.ncb}}</b>
								</div>
							</div>
							<!-- <div class="width60">
								<label>Vehicle</label>
								<div class="">
									<b>{{policyInfo.vehicle}}</b>
								</div>
							</div>  -->
							<div class="width60">
								<label>{{p365Labels.common.email}}</label>
								<div class="">
									<b>{{policyInfo.email}}</b>
								</div>
							</div>
						</div>
						<div class="document_section2">
							<div class="width60">
								<label>{{p365Labels.common.transactionId}}</label>
								<div class="">
									<b>{{policyInfo.transactionId}}</b>
								</div>
							</div>
							<div class="width60">
								<label>{{p365Labels.common.premium}}</label>
								<div class="">
									<b>&#8377;{{policyInfo.premium}}</b>
								</div>
							</div>
							<div class="width60">
								<label>{{p365Labels.common.validity}}</label>
								<div class="">
									<b>{{policyInfo.validity}}</b>
								</div>
							</div>
							<div class="width60">
								<label>{{p365Labels.common.mobileNo}}</label>
								<div class="">
									<b>{{policyInfo.mobileNo}}</b>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="float2" style="padding-right: 20%;">
							<h5 style="color: #424242; text-align: center;">
								<b>{{p365Labels.common.signInAfter30Min}}</b>
							</h5>
						</div>
					</div>


					<div class="clear "></div>
					<!-- <div style="text-align: center; ">
								<a ng-click="viewPolicy() " class="bluebuybuttoncar "
									style="margin: 10px 0px 10px 0px; ">View Policy</a>
							</div> -->
				</div>
			</div>
		</div>
	</div>
</div>


<modal-dialog show='modalOTP' width='500px' height='auto' class="ng-hide">
	<div class="blueBackground one-edge-shadow wp_noBluebackground wp_noBoxShadow posRel RTOPopHead">
		<div class="wp_respWidth100 wp_Width100" style="padding: 0%; text-align: center;">
			<h2 class="white popupHeading wp_popupHeading wp_resultPopupMar side6Pad">
				<span>{{p365Labels.common.OTPTemplateHeader}}</span>
			</h2>
		</div>
		<div class='ng-modal-close wp_modalClose closePopup' ng-click='closeAuthenticateForm()'>
			<i class="material-icons greyb7Txt">highlight_off</i>
		</div>
	</div>
	<div class="pad10 mobileHealthFamily pad10Padding" layout="column">
		<div class="fullShadow resultBg familyPopup wp_signinFamilyInnerPopup" style="margin-bottom: 0px !important;">
			<div class="popupTableHealth popupPadding" layout="row" style="padding: 3% 0% 0% 0% !important;">
				<div flex="100" style="text-align: center; padding: 1% 0%;">
					<b>{{p365Labels.common.enterOTPCaption}}</b>
				</div>
			</div>
			<md-input-container class="md-block">
				<div class="pad10">
					<div flex="100">
						<input name="enteredOTP" ng-model="authenticate.enteredOTP" autocomplete="off" ng-pattern="/\d{6}/" maxlength="6" minlength="6"
						 class="signBoxShadow" style="background: transparent !important; text-align: center;" required />
					</div>
				</div>
			</md-input-container>
			<div style="color: red; text-align: center; margin-bottom: 1%;">{{invalidOTPError}}</div>
		</div>
	</div>
	<div class="center submitBtnAlign ">
		<md-button class="md-raised md-primary popupSubmitBtn capitalizeText bold12" ng-disabled="authenticateForm.$invalid " ng-click="authenticateUser() ">
			{{p365Labels.common.submit}}
		</md-button>
	</div>
	<div class="pad10 center">
		<md-button ng-click="resendOTP()" ng-disabled="disableOTP">
			<span class="resendLink">Resend OTP</span></md-button>
	</div>
</modal-dialog>
