<div class="failureBg ang_loginWrap">
	<div class="padContainer professionalBody">
		<div class="centerAlignTxt">
			<div class="padBot5Per col-md-6 centerAlignTxt resp_side5Pad" style="float:none; display:inline-block;padding-top:1%;">
				<h2 class="failureTitle">{{p365Labels.common.sorryforInconvenience}}</h2>
				<div>
					<div class="centerAlignTxt failurePara" ng-if="!statusCode || statusCode == 'PE1021'">
						{{p365Labels.errorMessage.customerGreet}},</br>
						<p class="failurePara">{{p365Labels.errorMessage.payFailureErrorMsgPartOne}}
							<b>{{bikeReponseToken.proposalId}}</b>.</p>
						<p class="failurePara">{{p365Labels.errorMessage.payFailureErrorMsgPartTwo}}</p>
						<hr class="failurePara" style="color: #ddd;border-bottom: 1px solid #ccc !important;border: 0px;margin: 0px 15%;">

						<!-- <p class="failurePara">{{p365Labels.errorMessage.helpLineMessage}} <span class="pinkFont"> {{p365Labels.errorMessage.helpLineText}}</span>
								<br> &nbsp;{{p365Labels.errorMessage.writeToUs}}  <a class="pinkFont" href="mailto:contact@policies365.com"><u>contact@policies365.com</u></a> </p> -->
						<p>{{p365Labels.errorMessage.helpLineMessage + " " + p365Labels.errorMessage.helpLineText }} :
							<a class="pinkFont" href="tel:{{policies365Details.salesAssistNumber.trimed}}">
								<u>{{policies365Details.salesAssistNumber.displayWithBracket}}</u>
							</a>
						</p>
						<p>({{policies365Details.officeHours}}){{policies365Details.orWriteToUsAt}}:
							<a class="pinkFont" href="mailto:{{policies365Details.emailId.contact}}">
								<u>{{policies365Details.emailId.contact}}</u>
							</a>
						</p>
						<div ng-if="agencyPortalEnabled">
							<a class="pinkFont" ng-click="redirectURL()">Go Back</a>
						</div>
					</div>
					<div class="centerAlignTxt failurePara" ng-if="statusCode || statusCode == 'PE1020'">
						{{p365Labels.errorMessage.customerGreet}},</br>
						<p class="failurePara">{{p365Labels.errorMessage.paySuccessErrorMsgPartOne}}
							<b>{{bikeReponseToken.proposalId}}</b>.</p>
						<p class="failurePara">{{p365Labels.errorMessage.paySuccessErrorMsgPartTwo}}</p>
						<hr class="failurePara" style="color: #ddd;border-bottom: 1px solid #ccc !important;border: 0px;margin: 0px 15%;">

						<!-- <p class="failurePara">{{p365Labels.errorMessage.helpLineMessage}} <span class="pinkFont"> {{p365Labels.errorMessage.helpLineText}}</span>
									<br> &nbsp;{{p365Labels.errorMessage.writeToUs}}  <a class="pinkFont" href="mailto:contact@policies365.com"><u>contact@policies365.com</u></a> </p> -->
						<p>{{p365Labels.errorMessage.helpLineMessage + " " + p365Labels.errorMessage.helpLineText }} :
							<a class="pinkFont" href="tel:{{policies365Details.salesAssistNumber.trimed}}">
								<u>{{policies365Details.salesAssistNumber.displayWithBracket}}</u>
							</a>
						</p>
						<p>({{policies365Details.officeHours}}){{policies365Details.orWriteToUsAt}}:
							<a class="pinkFont" href="mailto:{{policies365Details.emailId.contact}}">
								<u>{{policies365Details.emailId.contact}}</u>
							</a>
						</p>
						<div ng-if="agencyPortalEnabled">
							<a class="pinkFont" ng-href="{{agencyURL}}">Go Back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 
<ng-container ng-if="$root.wordPressEnabled">
<div
	class="wp_InsideWrapperPayFailure wp_paySectionBckgrnd wp_payBorder wp_pad20 wp_marginAutoSign wp_gradientBg">
	<h3 class="wp_payFlH3">
		<span><i class="fa fa-times-circle" aria-hidden="true"
			style="color: red; font-size: 25px;"></i></span> {{p365Labels.common.sorryforInconvenience}}
	</h3>
	<p class="wp_payFlP" ng-if="!statusCode || statusCode == 'PE1021'">
		{{p365Labels.errorMessage.customerGreet}},<br />
		{{p365Labels.errorMessage.payFailureErrorMsgPartOne}} <b>{{bikeReponseToken.proposalId}}</b>.<br />
		{{p365Labels.errorMessage.payFailureErrorMsgPartTwo}}
	</p>
	<p class="wp_payFlP" ng-if="statusCode == 'PE1020'">
		{{p365Labels.errorMessage.customerGreet}},<br />
		{{p365Labels.errorMessage.paySuccessErrorMsgPartOne}} <b>{{bikeReponseToken.proposalId}}</b>.<br />
		{{p365Labels.errorMessage.paySuccessErrorMsgPartTwo}}
	</p>

	<div>
		<p class="wp_payFlP">
			{{p365Labels.errorMessage.helpLineMessage}} <span
				class="wp_payFlDetailsP">{{p365Labels.errorMessage.helpLineText}}
				022-68284343</span>
			{{p365Labels.errorMessage.writeToUs}} <span class="wp_payFlLink">
				<a href="mailto:contact@policies365.com">contact@policies365.com</a>
			</span>.
		</p>
	</div>
</div>
<div ng-if="$root.affilateRedirection">
	<h2 style="text-align: center;" data-bind-html-compile="p365Labels.template.redirectionDesc" data-ng-bind-html="p365Labels.template.redirectionDesc"></h2>
</div>
</ng-container>

<ng-container ng-if="!$root.wordPressEnabled">
<div class="editback">
	<div class="widthFull resultCommon wp_widthFull wp_respWidthFull">
		<div class="InsideWrapper">
			<div class="additionalfeatures">
				<div>
					<div class="float1 wp_respFloat1">
						<img ng-src="img\clogo\{{bikeProposeFormDetails.carrierId}}.png"
							style="display: inline-block !important">
					</div>
					<div class="float2 wp_respFloat2 wp_respFailPad"
						style="padding-right: 20%;">
						<h1 style="color: #414141;" class="wp_respFont1_4">
							<i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
							{{p365Labels.common.sorry}}
						</h1>
						<h4 style="color: #424242; text-align: center;">
							<h2 class="wp_respFailSubHead">{{p365Labels.common.transactionFail}}
								</h2>
						</h4>
					</div>
					<div class="clear"></div>
				</div>
				<br>
				<div class="contentSection">
					<p data-bind-html-compile="p365Labels.template.paymentFailureDesc" data-ng-bind-html="p365Labels.template.paymentFailureDesc">
						
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</ng-container> -->
