<div layout="row" layout-xs="column" layout-sm="column" class="recomdAddonMotor">
		<div flex="100" class="recomdAddonRgt">
			<div layout="row" layout-xs="column" layout-sm="column" style="flex-wrap: wrap">
				<div flex="50" flex-xs="100" flex-sm="100" style="padding-right: 10px;" class="md-1-line checkBox" ng-repeat="addOnCover in addOnCovers"
				 ng-if="addOnCover.isEnable == 'Y' && !carIgnoredRiders.includes(addOnCover.riderId)">
					<div layout="row" layout-xs="column" layout-sm="column" layout-wrap flex>
						<div class="classForTooltip" flex="100">
							<div ng-if="addOnCover.riderId != 6">
								<div layout="row" layout-xs="column" layout-sm="column">
									<md-checkbox class="blackAddon resize" checklist-model="$root.carAddOnCoversList.selectedAddOnCovers" checklist-value="addOnCover"
									 name='add' >
										<span class="font15 marTopBot10" layout="row">{{addOnCover.riderName}}</span>
									</md-checkbox>
									<span style='margin-left: 10px;font-size: 10px;margin-top: 15px' class="pinkFont" ng-show="addOnCover.isRecommended == true && $root.showRecommendedRider">(P365 Recommended)</span>									
								</div>
								<p class="font11 marginCheckbox">{{addOnCover.description}}</p>
							</div>

							<div ng-if="addOnCover.riderId == 6">
								<div layout="row" layout-xs="column" layout-sm="row" layout-md="row">
									<md-checkbox class="blackAddon resize" checklist-model="$root.carAddOnCoversList.selectedAddOnCovers" checklist-value="addOnCover"
									 name='add' ng-model="vehicleDetails.checkZeroDepCover">
										<span class="font15 marTopBot10" layout="row">{{addOnCover.riderName}}</span>
									</md-checkbox>
									<span style='margin-left: 10px;font-size: 10px;margin-top: 15px' class="pinkFont"  ng-show="addOnCover.isRecommended == true && $root.showRecommendedRider">(P365 Recommended)</span>
									
								</div>
								<p class="font11 marginCheckbox">{{addOnCover.description}}</p>
							</div>
						</div>
					</div>
				</div>
				<div flex="50" flex-xs="100" flex-sm="100" style="padding-right: 10px;">

						<div layout="row" layout-xs="column" layout-sm="column">
							<md-checkbox class="blackAddon resize" ng-true-value="true" ng-false-value="false"  ng-model="vehicleDetails.checkforDriverAccCover"
							 name='add'>
								<span class="font15 marTopBot10" layout="row">Driver accident cover</span>
							</md-checkbox>
							<span class="marLeft20" ng-if="vehicleDetails.checkforDriverAccCover">
								<md-select name="type" class="noMargin" ng-model="vehicleDetails.driverAccidentCover" 
								 required md-no-asterisk>
									<md-option ng-value="driverAccident" ng-repeat="driverAccident in driverAccidentSAList">{{driverAccident}}
									</md-option>
								</md-select>
							</span>
						</div>
						
						<p class="font11 marginCheckbox">In case of any unfortunate accident, the add on will provides coverage for any bodily injury or death of driver up to the Sum Insured selected.</p>
				</div>
				<div flex="50" style="padding-right: 10px;" flex-xs="100" flex-sm="100">
						<div layout="row" layout-xs="column" layout-sm="row">
							<md-checkbox class="blackAddon resize" ng-true-value="true" ng-false-value="false" ng-model="vehicleDetails.checkforPsgCover"
							 name='add' >
								<span class="font15 marTopBot10" layout="row">Passenger cover</span>
							</md-checkbox>
							<span style='margin-left: 10px;font-size: 10px;margin-top: 15px' ng-show="addOnCover.isRecommended == true">(P365 Recommended)</span>
							<span class="marLeft20" ng-show="vehicleDetails.checkforPsgCover">
								<md-select name="type" class="noMargin" ng-model="vehicleDetails.passengerCover"  required
								 md-no-asterisk>
									<md-option ng-value="passengerCover" ng-repeat="passengerCover in passengerCoverSAList">{{passengerCover}}</md-option>
								</md-select>
							</span>
						</div>
					<p class="font11 marginCheckbox">In case of any unfortunate accident, the add on will provides coverage for any bodily injury or death of passenger up to sum insured selected.</p>
				</div>


				<div flex="50" style="padding-right: 10px;" flex-xs="100" flex-sm="100">
						<div layout="row" layout-xs="column" layout-sm="row">
							<md-checkbox class="resize blackAddon" ng-true-value="true" ng-false-value="false" ng-model="vehicleDetails.checkforLpgCngCover"
							 name='add' ng-change="validateLpgCngKitCover()">
								<span class="font15 marTopBot10" layout="row">LPG-CNG Kit</span>
							</md-checkbox>
							<span class="marLeft20" ng-show="vehicleDetails.checkforLpgCngCover">
								<md-input-container class="noMargin">
									<input ng-model="vehicleDetails.lpgCngKitCover" class="ridersBottomBorder" ng-pattern="/^[0-9]*$/" ng-change="validateLpgCngKitCover()"
									 required md-no-asterisk> </md-input-container>
								<span style="color: red">{{invalidLpgCngKitCoverAmount}}</span>
							</span>
						</div>
						<p class="font11 marginCheckbox">External fitted LPG-CNG kit will not be the part of your selected IDV, this add on will provide the coverage to your external fitted LPG-CNG kit.</p>
				</div>

				<div flex="50" style="padding-right: 10px;" flex-xs="100" flex-sm="100">
						<div layout="row" layout-xs="column" layout-sm="row">
							<md-checkbox class="resize blackAddon" ng-true-value="true" ng-false-value="false" ng-change="validateAccessories()" ng-model="vehicleDetails.checkforAccessoriesCover"
							 name="add">
								<span class="font15 marTopBot10" layout="row">Accessories</span>
							</md-checkbox>
						</div>
						<p class="font11 marginCheckbox">Additional accessories will not be a part of standard policy, protect your additional accessories under the accessories add on.</p>

					<div style="margin-left:35px" ng-if="vehicleDetails.checkforAccessoriesCover">
							<div layout="row" layout-xs="column" layout-sm="row">
								<md-checkbox class="resize blackAddon" ng-true-value="true" ng-false-value="false" ng-model="vehicleDetails.checkforElectrical"
								 name="add" ng-change="updateQuoteResultStatus()">
									<span class="font15 marTopBot10" layout="row">Electrical</span>
								</md-checkbox>
								<span class="marLeft20" ng-if="vehicleDetails.checkforElectrical">
									<md-input-container class="md-block noMargin">
										<input ng-model="vehicleDetails.electricalAccessories" class="ridersBottomBorder" ng-change="validateElectricalAccessories()"
										 required>
										<span style="color: red">{{invalidElectricalAccessoriesAmount}}</span>
									</md-input-container>
								</span>
							</div>
							<p class="font11 marginCheckbox">A cover on electrical accessories fitted in your car. Most insurers provide a cover for your car accessories at an additional premium of 4% on its value.</p>

							<div layout="row" layout-xs="column" layout-sm="row">
								<md-checkbox class="resize blackAddon" ng-true-value="true" ng-false-value="false" ng-model="vehicleDetails.checkforNonElectrical"
								 name="add" ng-change="updateQuoteResultStatus()">
									<span class="font15 marTopBot10" layout="row">Non-electrical</span>
								</md-checkbox>
								<span class="marLeft20" ng-if="vehicleDetails.checkforNonElectrical">
									<md-input-container class="md-block noMargin">
										<input type="text" class="ridersBottomBorder" ng-model="vehicleDetails.nonElectricalAccessories" ng-change="validateNonElectricalAccessories()"
										 style="box-shadow: none !important;" required>
										<span style="color: red">{{invalidNonElectricalAccessoriesAmount}}</span>
									</md-input-container>
								</span>
							</div>
							<p class="font11 marginCheckbox">A cover on non-electrical accessories fitted in your car. Most insurers provide a cover for your car accessories at an additional premium of 4% on its value.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
