<div class="failureBg ang_loginWrap">
		<div class="padContainer professionalBody">
			<div class="centerAlignTxt">
				<div class="padBot5Per col-md-6 centerAlignTxt resp_side5Pad" style="float:none; display:inline-block;padding-top:1%;">
					<h2 class="failureTitle">{{p365Labels.common.sorryforInconvenience}}</h2>
					<div>
						<div class="centerAlignTxt failurePara" ng-if="!statusCode || statusCode == 'PE1021'">
							{{p365Labels.errorMessage.customerGreet}},</br>
							<p class="failurePara">{{p365Labels.errorMessage.payFailureErrorMsgPartOne}} <b>{{carReponseToken.proposalId}}</b>.</p>
							<p class="failurePara">{{p365Labels.errorMessage.payFailureErrorMsgPartTwo}}</p>
							<hr class="failurePara" style="color: #ddd;border-bottom: 1px solid #ccc !important;border: 0px;margin: 0px 15%;">
	
							<!-- <p class="failurePara">{{p365Labels.errorMessage.helpLineMessage}} <span class="pinkFont"> {{p365Labels.errorMessage.helpLineText}}</span>
								<br> &nbsp;{{p365Labels.errorMessage.writeToUs}}  <a class="pinkFont" href="mailto:contact@policies365.com"><u>contact@policies365.com</u></a> </p> -->
								<p>{{p365Labels.errorMessage.helpLineMessage + " " + p365Labels.errorMessage.helpLineText }} :
										<a class="pinkFont" href="tel:{{policies365Details.salesAssistNumber.trimed}}">
											<u>{{policies365Details.salesAssistNumber.displayWithBracket}}</u>
										</a>
									</p>
									<p>({{policies365Details.officeHours}}){{policies365Details.orWriteToUsAt}}:
										<a class="pinkFont" href="mailto:{{policies365Details.emailId.contact}}">
											<u>{{policies365Details.emailId.contact}}</u>
										</a>
									</p>
									<div ng-if="agencyPortalEnabled">
										<a class="pinkFont" ng-click="redirectURL()">Go Back</a>
									</div>
						</div>
						<div class="centerAlignTxt failurePara" ng-if="statusCode || statusCode == 'PE1020'">
								{{p365Labels.errorMessage.customerGreet}},</br>
								<p class="failurePara">{{p365Labels.errorMessage.paySuccessErrorMsgPartOne}} <b>{{carReponseToken.proposalId}}</b>.</p>
								<p class="failurePara">{{p365Labels.errorMessage.paySuccessErrorMsgPartTwo}}</p>
								<hr class="failurePara" style="color: #ddd;border-bottom: 1px solid #ccc !important;border: 0px;margin: 0px 15%;">
		
								<!-- <p class="failurePara">{{p365Labels.errorMessage.helpLineMessage}} <span class="pinkFont"> {{p365Labels.errorMessage.helpLineText}}</span>
									<br> &nbsp;{{p365Labels.errorMessage.writeToUs}}  <a class="pinkFont" href="mailto:contact@policies365.com"><u>contact@policies365.com</u></a> </p> -->
									<p>{{p365Labels.errorMessage.helpLineMessage + " " + p365Labels.errorMessage.helpLineText }} :
											<a class="pinkFont" href="tel:{{policies365Details.salesAssistNumber.trimed}}">
												<u>{{policies365Details.salesAssistNumber.displayWithBracket}}</u>
											</a>
										</p>
										<p>({{policies365Details.officeHours}}){{policies365Details.orWriteToUsAt}}:
											<a class="pinkFont" href="mailto:{{policies365Details.emailId.inquiry}}">
												<u>{{policies365Details.emailId.inquiry}}</u>
											</a>
										</p>
										<div ng-if="agencyPortalEnabled">
											<a class="pinkFont" ng-click="redirectURL()">Go Back</a>
										</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
