<div ng-controller="criticalIllnessInstantQuoteController">
		<div class="professionalBody bestQuote resp_padContainer">
			<div class="personalInfo resp_topBot5Pad padBot5Per marTop4Per">
				<h2 class="chooseProfTitle">{{$root.professionalText}}</h2>
			</div>
			<div layout='row' layout-xs="column" layout-sm="column" class='resp_noMar'>
				<div flex="45" flex-xs="100" flex-sm="100" class="selfCenter">
					<img class="width80" ng-src="{{$root.wp_path}}img/professionalJourney/{{$root.professionalImg}}.png">
				</div>
				<div flex="55" flex-xs="100" flex-sm="100" class="">
					<div class="pad10 vertAlignCenter pbCarInput offWhiteBg side3_6Pad borRad7 marBot3Per createLeadHt">
						<div layout="row" class="width100">
							<div flex="50" class="left padRig5Per">
								<md-input-container class="md-block"> <label class="pbCarInput">{{globalLabel.applicationLabels.criticalIllness.genderType}}</label>
									<md-select
										name="type" ng-model="quoteParam.gender"
										ng-change="calculateCriticalIllnessPremium()"> <md-option
										ng-value="gender.value" ng-repeat="gender in genderType"
										ng-disabled="instantQuoteCriticalIllnessForm">{{gender.label}}</md-option> </md-select> 
								</md-input-container>
							</div>
							<div flex="50" class="left pbCarInput">
								<md-input-container class="width100">
									<label class="pbCarInput" class="pbCarInput">{{globalLabel.applicationLabels.criticalIllness.age}}</label>
									<md-select name="type" ng-model="quoteParam.age"
									ng-change="calculateCriticalIllnessPremium()"> <md-option
									ng-value="age" ng-repeat="age in ageList"
									ng-disabled="instantQuoteCriticalIllnessForm">{{age}}</md-option> </md-select> 
								</md-input-container>
							</div>
						</div>
					
						<div layout="row" layout-xs="column" layout-sm="column" class="width100">
							<div flex="50" flex-xs="100" flex-sm="100" class="left padRig5Per">
								<md-input-container class="width100">
									<label class="pbCarInput">Your smoking habit?</label>
									<md-select name="type" ng-model="quoteParam.tobacoAdicted"
										ng-change="calculateCriticalIllnessPremium()"> <md-option
										ng-value="tobacco.value" ng-repeat="tobacco in tobaccoAddictionStatus"
										ng-disabled="instantQuoteCriticalIllnessForm">{{tobacco.label}}</md-option> </md-select>	
								</md-input-container>
								
							</div>
						
							<div flex="50" flex-xs="100" flex-sm="100" class="left pbCarInput">
							
									<md-input-container class="width100">
										<label class="pbCarInput">{{globalLabel.applicationLabels.criticalIllness.sumAssured}}</label>
										<input   ng-pattern='/^[1-9][0-9]*$/' class="" name='sumAssured' ng-change="checkSum(personalDetails.sumInsuredAmount);calculateCriticalIllnessPremium()" 
										ng-model='personalDetails.sumInsuredAmount' autocomplete='off'
											   maxlength='8' minlength='1'
											  required md-no-asterisk style="position: relative;" />
										<div class="ammount-lable" style="color:#fff;background-color: #4a4a4a;position: absolute;right: 0px;width: 33%;height: 100%;border-radius: 0 24px 24px 0px;top: 0px;padding-top:5%;text-align:center">
												&#x20B9;&nbsp;{{showAmount(personalDetails.sumInsuredAmount)}} Lakhs
										</div>
										
									</md-input-container>	
									<span  ng-show="$root.disableNextScreen">{{message}}</span>							
								</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	
	
		
	</div>
