<!--     Premium Breakup Popup       -->
<modal-dialog show='premiumModalBike' width='900px' height='80vh' class="ng-hide RTOSearchDiv" style="overflow:auto;">
        <!-- <div class='ng-modal-close wp_modalClose' ng-click='hidePremiumModalCar()'>
                <i class="material-icons">close</i>
            </div> -->
        <div class="ang_loginWrap" layout-align="center center">
            <div layout="row" layout-xs="row" class="pad25255">
                <div flex="40" flex-xs="45" class="leftAlignTxt">
                    <img ng-src="{{$root.wp_path}}img/clogo/{{bikeProductToBeAddedInCart.carrierId}}.png" />
                    <p class="font15 hideForMobile">{{bikeProductToBeAddedInCart.insuranceCompany}}</p>
                </div>
                <div flex="30" class="centerAlignTxt hideForMobile">
                    <b class="font24">&#8377; {{bikeProductToBeAddedInCart.insuredDeclareValue |number}}</b>
                    <div class="font13 greyb7Txt">IDV</div>
                </div>
                <div flex="35" flex-xs="45" class="resp_selfCenter">
                    <div class="width55 resp_width80 iPad_width40 side25Mar resp_autoMar">
                        <div class="buyNowBtn posRel cursor">
                            <p class="pinkFeTxt topBot1Mar popAddToCartBtn bold12 resp_font9">Premium</p>
                            <p class="pinkFeTxt bold24 topBot5Mar resp_font14">&#8377; {{bikeProductToBeAddedInCart.netPremium | number}}</p>
                        </div>
                        <div class="centerAlignTxt topBot2Mar font10">Exclusive of GST</div>
                    </div>
                </div>
                <div flex="5" flex-xs="10" style="text-align: right;" class="cursor" ng-click='hidePremiumModalBike()'>
                    <i class="material-icons greyb7Txt">highlight_off</i>
                </div>
            </div>
            <div>
                <md-content>
                    <md-tabs class="popTab garMod greyTab" md-selected="$root.selectedTabBike" md-dynamic-height  md-swipe-content>
                        <md-tab label="Premium Details" >
                                <div style="max-height:50vh;overflow:auto;">
                            <!-- <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar" ng-if="(bikeProductToBeAddedInCart.odpremium + bikeProductToBeAddedInCart.llDriverCover + bikeProductToBeAddedInCart.paidDriverCover + bikeProductToBeAddedInCart.tppremium) > 0"> -->
                                <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        Basic coverage
                                    </div>
                                    <div flex="66" flex-xs="60">
                                            <div layout="row" ng-if="bikeProductToBeAddedInCart.odpremium > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>Basic own damage<span ng-if="data.policyType == 'new' && data.ownDamagePolicyTerm">({{data.ownDamagePolicyTerm}} Year)
                                                    </span></p>
                                            </div>
                                            <div flex="20"  flex-xs="30" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.odpremium | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                        <!-- <div layout="row" ng-if="bikeProductToBeAddedInCart.llDriverCover > 0"> -->
                                            <!-- <div layout="row" ng-if="bikeProductToBeAddedInCart.llDriverCover > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>Legal liability for driver</p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.llDriverCover | number:0 | regexINR}}</p>
                                            </div>
                                        </div> -->
                                            <div layout="row" ng-if="bikeProductToBeAddedInCart.paidDriverCover > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>Personal accident cover</p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.paidDriverCover | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                        <div layout="row" ng-if="bikeProductToBeAddedInCart.tppremium > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>Basic third party<span ng-if="data.policyType == 'new' && data.liabilityPolicyTerm">({{data.liabilityPolicyTerm}} Year)
                                                    </span></p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.tppremium | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                        <div layout="row" ng-if="bikeProductToBeAddedInCart.lpgCngKitPremium > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>{{globalLabel.applicationLabels.bike.LPGCNGKitPremium}}</p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <span>&#8377;  {{bikeProductToBeAddedInCart.lpgCngKitPremium | number:0 | regexINR}}</span>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
    
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row">
                                            <div flex="50"  flex-xs="70">
                                                <p></p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <p><b> &#8377; {{(bikeProductToBeAddedInCart.odpremium + bikeProductToBeAddedInCart.paidDriverCover
                                                                + bikeProductToBeAddedInCart.tppremium) | number:0 | regexINR}}</b></p>
                                                <!-- <p ng-if="!bikeProductToBeAddedInCart.llDriverCover"><b> &#8377; {{(bikeProductToBeAddedInCart.odpremium + bikeProductToBeAddedInCart.paidDriverCover
                                                                    + bikeProductToBeAddedInCart.tppremium) | number:0 | regexINR}}</b></p>-->
                                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar" ng-if="bikeProductToBeAddedInCart.totalRiderAmount > '0'">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        Add-on cover
                                        <span ng-if="data.policyType == 'new' && data.ownDamagePolicyTerm">({{data.ownDamagePolicyTerm}} Year)
                                            </span>
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <ng-container ng-repeat="riders in bikeProductToBeAddedInCart.ridersList">
                                            <div layout="row" ng-if="riders.riderValue > 0">
                                                <div flex="50" flex-xs="70" ng-if="riders.updatedRiderName">
                                                    <p>{{riders.updatedRiderName}}</p>
                                                </div>
                                                <div flex="50" flex-xs="70" ng-if="!riders.updatedRiderName">
                                                    <p>{{riders.riderName}}</p>
                                                </div>
                                                <div flex="20" flex-xs="30" class="right">
                                                    <p ng-if="riders.riderType != 'NA' && riders.riderType != 'included' && riders.riderValue > 0">&#8377; {{riders.riderValue | number:0 | regexINR}}</p>
                                                    <p ng-if="riders.riderType == 'NA' || riders.riderType == 'included'">{{riders.riderType}}</p>
                                                </div>
                                            </div>
                                            <div layout="row" ng-if="!riders.riderValue && (riders.riderType == 'NA' || riders.riderType == 'included')">
                                                <div flex="50" flex-xs="70" ng-if="riders.updatedRiderName">
                                                    <p>{{riders.updatedRiderName}}</p>
                                                </div>
                                                <div flex="50" flex-xs="70" ng-if="!riders.updatedRiderName">
                                                    <p>{{riders.riderName}}</p>
                                                </div>
                                                <div flex="20" flex-xs="30" class="right">
                                                    <p ng-if="riders.riderType == 'NA' || riders.riderType == 'included'">{{riders.riderType}}</p>
                                                </div>
                                            </div>
                                            <div layout="row" ng-repeat="dependants in riders.dependant">
                                                <div flex="50" flex-xs="70">
                                                    <p>{{dependants.riderName}}</p>
                                                </div>
                                                <div flex="20" flex-xs="30" class="right">
                                                    <p>{{dependants.riderType}}</p>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40"  class="vertAlignCenter">
    
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row">
                                            <div flex="50" flex-xs="50">
                                                <p></p>
                                            </div>
                                            <div flex="20" flex-xs="50" class="right">
                                                <p><b>+ &#8377; {{bikeProductToBeAddedInCart.totalRiderAmount | number:0 | regexINR}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <!-- ng-if="bikeProductToBeAddedInCart.selectedDiscountAmount > 0" -->
                            <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar"  ng-if="bikeProductToBeAddedInCart.totalDiscountAmount > '0'">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        Savings/Discounts
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row" ng-repeat="data in bikeProductToBeAddedInCart.discountList" ng-if="data.discountAmount > 0">
                                            <div flex="50" flex-xs="70">
                                                <p>{{data.type}}</p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <p>&#8377; {{data.discountAmount | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-body-1" layout="row">
                                    <div flex="33"  flex-xs="40" class="vertAlignCenter">
    
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row">
                                            <div flex="50" flex-xs="40">
                                                <p></p>
                                            </div>
                                            <div flex="20" flex-xs="60" class="right">
                                                <p><b>- &#8377; {{bikeProductToBeAddedInCart.totalDiscountAmount | number:0 | regexINR}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        Net Premium
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row">
                                            <div flex="50" flex-xs="70">
                                                <p></p>
                                            </div>
                                            <div flex="20" flex-xs="30" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.netPremium | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        GST @ 18%
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row">
                                            <div flex="50" flex-xs="50">
                                                <p></p>
                                            </div>
                                            <div flex="20" flex-xs="50" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.serviceTax | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <md-content class="md-padding grey4bTxt side15Mar resp_side1Mar">
                                <div class="md-body-1" layout="row">
                                    <div flex="33" flex-xs="40" class="vertAlignCenter">
                                        Final price
                                    </div>
                                    <div flex="66" flex-xs="60">
                                        <div layout="row">
                                            <div flex="50" flex-xs="50">
                                                <p></p>
                                            </div>
                                            <div flex="20" flex-xs="50" class="right">
                                                <p>&#8377; {{bikeProductToBeAddedInCart.grossPremium | number:0 | regexINR}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                        </md-tab>
                        <md-tab label="Service Ratings">
                            <md-content class="md-padding resp_servScroll">
                                <div class="md-body-2">
                                    <div class="md-body-1" layout-xs="column" layout="row">
                                        <div flex="20" flex-xs="100" class="centerAlignTxt selfCenter">
                                            <img ng-src="{{$root.wp_path}}img/professionalJourney/Service_Rating_Star_ResultScreen.png">
                                        </div>
                                        <div flex="60" flex-xs="100">
                                            <p class="noMargin grey4BTxt"><b>Service Ratings?</b></p>
                                            <p class="font12 grey4BTxt">{{p365Labels.common.serviceRatingDesc1}}</p>
                                            <p class="font12 grey4BTxt">{{p365Labels.common.serviceRatingDesc2}}</p>
                                            <ul class="font12 grey4BTxt">
                                                <li><span>-&nbsp;</span>{{p365Labels.common.inclurredClaimRatio}}</li>
                                                <li><span>-&nbsp;</span>{{p365Labels.common.solvencyRatio}}</li>
                                                <li><span>-&nbsp;</span>{{p365Labels.common.grievanceResolved}}</li>
                                            </ul>
                                            
                                        </div>
                                        <div flex="20" flex-xs="100" class="selfCenter">
                                            <p class="font24 noMargin grey4BTxt resp_font14 centyer">{{bikeProductToBeAddedInCart.insurerIndex|number:1}}</p>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Incurred Claim Ratio">
                            <md-content class="md-padding resp_IncurScroll" >
                                <div class="md-body-3">
                                    <div class="md-body-1" layout-xs="column" layout="row">
                                        <div flex="20"flex-xs="100" class="centerAlignTxt selfCenter">
                                            <img ng-src="{{$root.wp_path}}img/professionalJourney/Claim_Rating_Star_ResultScreen.png">
                                        </div>
                                        <div flex="60" flex-xs="100">
                                            <p class="noMargin grey4BTxt"><b>Incurred Claim Settlement</b></p>
                                            <p class="font12 grey4BTxt">{{p365Labels.common.incurredClaimDesc}}</p>
                                        </div>
                                        <div flex="20" flex-xs="100" class="selfCenter">
                                            <p class="font24 noMargin grey4BTxt resp_font14 center">{{bikeProductToBeAddedInCart.claimRatio}}</p>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>                        
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </modal-dialog>
    <!--     Premium Breakup Popup       -->
    
