<div class="clear">
</div>
<!-- <b  ng-show="!showDesc" ng-click="showDesc = true">Read More +</b> -->

<h3>
    <div flex="100" flex-xs="100" class="divForMobile">
        <div class="hideForMobile">
            <p class="cursor"><b ng-show="!showDesc" ng-click="showDesc = true" class="pinkFont font12">Read More +</b></p>
            <div ng-show="showDesc" class="norm12">
                <p> <b>Health Risk:</b> Risk that may lead to hospitalizatin and chronic disease </p>
                <p> <b>Life Risk :</b> Risk that may lead to uncertain and early (compared to standard lifespan) death</p>
                <p> <b>Retirement Funds Risk:</b> Risk that may lead to living longer than standard lifespan and/or need of retirement funds</p>
                <p> <b>Personal Property Risk :</b> Risk that may lead to damage to car and home due to accident, theft, flooding and other causes</b>
                <p> <b> Accident and Disability Risk :</b> Risk that may lead to higher risk of being in an accident causing dealth or diability</p>
                <p> <b>Financial Risk:</b> Risk that may lead to situation to find it difficult to meet the day to day financial needs
                (EMIs, Maintaining life Style, Child Education needs) due to job loss or single income source</p>
                <p> <b> Critical Illness :</b> Risk that may lead to spending huge money to meet expenses for diagnosis and treatment of critical
                or life threatening Illness</p>
                <p> <b> Professional Risk:</b> Risk that may lead to situation where liability may occur
                due to error or omission or bad execution of professional responsibilities. Or business interruption due
                to fire and theft.</p>
                <p ng-click="showDesc = false" class="rightAlignTxt pinkFont">Read Less - </p>
            </div>
        </div>
        <div class="showForMobile">
            <p ng-show="!showDesc" ng-click="showDesc = true" class="pinkFont font12 cursor"><b>Read More +</b></p>
            <div ng-show="showDesc" class="norm12">
                <p> <b>Health Risk:</b> Risk that may lead to hospitalizatin and chronic disease </p>
                <p> <b>Life Risk :</b> Risk that may lead to uncertain and early (compared to standard lifespan) death</p>
                <p> <b>Retirement Funds Risk:</b> Risk that may lead to living longer than standard lifespan and/or need of retirement funds</p>
                <p> <b>Personal Property Risk :</b> Risk that may lead to damage to car and home due to accident, theft, flooding and other causes</b>
                <p> <b> Accident and Disability Risk :</b> Risk that may lead to higher risk of being in an accident causing dealth or diability</p>
                <p> <b>Financial Risk:</b> Risk that may lead to situation to find it difficult to meet the day to day financial needs
                (EMIs, Maintaining life Style, Child Education needs) due to job loss or single income source</p>
                <p> <b> Critical Illness :</b> Risk that may lead to spending huge money to meet expenses for diagnosis and treatment of critical
                or life threatening Illness</p>
                <p> <b> Professional Risk:</b> Risk that may lead to situation where liability may occur
                due to error or omission or bad execution of professional responsibilities. Or business interruption due
                to fire and theft.</p>
                <p ng-click="showDesc = false" class="rightAlignTxt pinkFont">Read Less - </p>
            </div>
        </div>
    </div>


</h3>
