<!-- Wordpress -->
<ng-container ng-if="$root.wordPressEnabled">
		<div
			class="wp_InsideWrapperPayFailure wp_paySectionBckgrnd wp_payBorder wp_pad20 wp_marginAutoSign wp_gradientBg">
			<h3 class="wp_payFlH3">
				<span><i class="fa fa-times-circle" aria-hidden="true"
					style="color: red; font-size: 25px;"></i></span> Sorry for the inconvenience
			</h3>
			<p class="wp_payFlP" ng-if="!statusCode || statusCode == 'PE1021'">
				Dear Customer,<br />
				Due to some technical difficulties your payment has failed and hence we are unable to process your request with proposal number <b>{{PAReponseToken.proposalId}}</b>.<br />
				If amount has been deducted from your account kindly get in touch with your bank for refund. Sorry for the inconvenience caused.
			</p>
			<p class="wp_payFlP" ng-if="statusCode == 'PE1020'">
				Dear Customer,<br />
				Your payment is successful however due to some technical difficulties your policy could not be generated for your proposal request with proposal number <b>{{PAReponseToken.proposalId}}</b>.<br />
				Our technical team is dedicatedly working on this and get back to you shortly. Kindly be patient, your policy will be generated shortly and shared to you.
			</p>
			<!-- <p class="wp_payFlP" ng-if="!statusCode">
				Dear Customer,<br />
				We are unable to process payment for proposal number <b>{{PAReponseToken.proposalId}}</b>.
			</p> -->		
			<div>
				<p class="wp_payFlP">
					In case of any queries or assistance, please call us on our <span
						class="wp_payFlDetailsP"> Helpline 
						022-68284343</span>
					 (Office hours 9:30 am to 6:00 pm) or write to us @  <span class="wp_payFlLink">
						<a href="mailto:contact@policies365.com">contact@policies365.com</a>
					</span>.
				</p>
			</div>
		</div>
		</ng-container>
		<!-- Wordpress -->
		
		<ng-container ng-if="!$root.wordPressEnabled">
		<div class="editback">
			<div class="widthFull resultCommon wp_widthFull wp_respWidthFull">
				<div class="InsideWrapper">
					<div class="additionalfeatures">
						<div>
							<div class="float1 wp_respFloat1">
								<img ng-src="img\clogo\{{selectedProduct.carrierId}}.png"
									style="display: inline-block !important">
							</div>
							<div class="float2 wp_respFloat2 wp_respFailPad"
								style="padding-right: 20%;">
								<h1 style="color: #414141;" class="wp_respFont1_4">
									<i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
									Sorry!
								</h1>
								<h4 style="color: #424242; text-align: center;">
									<h2 class="wp_respFailSubHead">Your Payment Transaction
										could not be completed</h2>
								</h4>
							</div>
							<div class="clear"></div>
						</div>
						<br>
						<div class="contentSection">
							<p>
								We tried to charge Rs. <b>{{selectedProduct.netPremium}}</b>
								from your account towards your Personal Accident  Insurance Premium however <b>{{PAReponseToken.paymentGateway}}</b>
		
								has rejected the payment. If the amount has been debited from you
								account already, Please contact <b>{{PAReponseToken.paymentGateway}}</b>
								directly to get the payment refunded. <br> Please try after
								sometime.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</ng-container>
