$base_color: #ffffff;
$icon_color: #262626;
$highlight_color: #1e73be;
$notification_color: #dd3333;
$button_color: #1e73be;
$text_color: #3f3f3f;
$link: #56c41f;
$link_focus: #ff3a3a;
$menu_submenu_text: #ffffff;
$menu_submenu_background_alt: #136cbf;


@import 'colors.css';
@import '_admin.scss';
