.themify_builder_93_row.module_row_0.module_row{background-image:-webkit-linear-gradient(180deg,rgb(110, 74, 255) 0%,rgb(49, 245, 245) 69%,rgb(255, 255, 255) 98%);
background-image:-moz-linear-gradient(180deg,rgb(110, 74, 255) 0%,rgb(49, 245, 245) 69%,rgb(255, 255, 255) 98%);
background-image:-o-linear-gradient(180deg,rgb(110, 74, 255) 0%,rgb(49, 245, 245) 69%,rgb(255, 255, 255) 98%);
background-image:-ms-linear-gradient(180deg,rgb(110, 74, 255) 0%,rgb(49, 245, 245) 69%,rgb(255, 255, 255) 98%);
background-image:linear-gradient(180deg,rgb(110, 74, 255) 0%,rgb(49, 245, 245) 69%,rgb(255, 255, 255) 98%);
text-align: center; padding-top:10%; padding-bottom:2%; }
.themify_builder_93_row.module_row_0.module_row,.themify_builder_93_row.module_row_0 h1,.themify_builder_93_row.module_row_0 h2,.themify_builder_93_row.module_row_0 h3:not(.module-title),.themify_builder_93_row.module_row_0 h4,.themify_builder_93_row.module_row_0 h5,.themify_builder_93_row.module_row_0 h6{color:#ffffff; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_0.module_row{padding-top:35%; }
}
.themify_builder .text-93-0-0-0.module-text{margin-bottom:50px; }
.themify_builder .text-93-0-0-2.module-text{margin-bottom:50px; }
.themify_builder .image-93-0-0-3.module-image{margin-right:10%; margin-bottom:5%; margin-left:10%; }
.themify_builder_93_row.module_row_1.module_row{text-align: center; padding-top:4%; padding-bottom:4%; }
.themify_builder_93_row.module_row_2.module_row{text-align: center; padding-top:2%; padding-bottom:8%; }
.themify_builder_93_row.module_row_2 a{color:#000000; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_2.module_row{padding-top:15%; padding-bottom:10%; }
}
.themify_builder .text-93-2-0-0.module-text{margin-bottom:50px; }
.themify_builder .image-93-sub_row_2-0-2-0-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-2-1-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-2-2-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-2-3-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-3-0-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-3-1-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-3-2-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-3-3-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-4-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-93-sub_row_2-0-4-0-0.module-image{margin-bottom:20px; }
.themify_builder .image-93-sub_row_2-0-4-1-0.module-image{margin-bottom:20px; }
.themify_builder_93_row.module_row_3.module_row{text-align: center; padding-top:2%; padding-bottom:6%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_3.module_row{padding-top:15%; padding-bottom:10%; }
}
.themify_builder .text-93-3-0-1.module-text{margin-top:7%; }
.themify_builder .image-93-3-0-2.module-image .image-title,.themify_builder .image-93-3-0-2.module-image .image-title a{color:#000000; }
.themify_builder .image-93-3-0-2.module-image .image-title{font-size:16px; }
.themify_builder .text-93-3-0-3.module-text{margin-top:7%; }
.themify_builder .image-93-3-0-4.module-image .image-title,.themify_builder .image-93-3-0-4.module-image .image-title a{color:#000000; }
.themify_builder .image-93-3-0-4.module-image .image-title{font-size:16px; }
.themify_builder .text-93-3-0-5.module-text{margin-top:7%; }
.themify_builder .image-93-3-0-6.module-image .image-title,.themify_builder .image-93-3-0-6.module-image .image-title a{color:#000000; }
.themify_builder .image-93-3-0-6.module-image .image-title{font-size:16px; }
.themify_builder .text-93-3-0-7.module-text{margin-top:7%; }
.themify_builder .image-93-3-0-8.module-image .image-title,.themify_builder .image-93-3-0-8.module-image .image-title a{color:#000000; }
.themify_builder .image-93-3-0-8.module-image .image-title{font-size:16px; }
@media screen and (max-width: 480px) {.themify_builder .image-93-3-0-8.module-image .image-content{text-align: center; }
}
.themify_builder .text-93-3-0-9.module-text{margin-top:7%; }
.themify_builder .image-93-3-0-10.module-image .image-title,.themify_builder .image-93-3-0-10.module-image .image-title a{color:#000000; }
.themify_builder .image-93-3-0-10.module-image .image-title{font-size:16px; }
.themify_builder .text-93-3-0-11.module-text{margin-top:7%; }
.themify_builder .image-93-3-0-12.module-image .image-title,.themify_builder .image-93-3-0-12.module-image .image-title a{color:#000000; }
.themify_builder .image-93-3-0-12.module-image .image-title{font-size:16px; }
.themify_builder_93_row.module_row_4.module_row{background-image: url("https://themify.me/demo/themes/parallax/files/2016/05/predesigned-layout-2-1400x817.jpg"); text-align: center; padding-top:12%; padding-bottom:12%; }
.themify_builder_93_row.module_row_4.module_row>.builder_row_cover:before{background-image:-webkit-linear-gradient(327deg,rgba(68, 31, 255, 0.933333) 0%,rgba(255, 92, 92, 0.933333) 73%,rgba(255, 255, 158, 0.933333) 100%);
background-image:-moz-linear-gradient(327deg,rgba(68, 31, 255, 0.933333) 0%,rgba(255, 92, 92, 0.933333) 73%,rgba(255, 255, 158, 0.933333) 100%);
background-image:-o-linear-gradient(327deg,rgba(68, 31, 255, 0.933333) 0%,rgba(255, 92, 92, 0.933333) 73%,rgba(255, 255, 158, 0.933333) 100%);
background-image:-ms-linear-gradient(327deg,rgba(68, 31, 255, 0.933333) 0%,rgba(255, 92, 92, 0.933333) 73%,rgba(255, 255, 158, 0.933333) 100%);
background-image:linear-gradient(327deg,rgba(68, 31, 255, 0.933333) 0%,rgba(255, 92, 92, 0.933333) 73%,rgba(255, 255, 158, 0.933333) 100%);
}
.themify_builder .text-93-sub_row_4-0-0-1-0.module-text,.themify_builder .text-93-sub_row_4-0-0-1-0.module-text h1,.themify_builder .text-93-sub_row_4-0-0-1-0.module-text h2,.themify_builder .text-93-sub_row_4-0-0-1-0.module-text h3:not(.module-title),.themify_builder .text-93-sub_row_4-0-0-1-0.module-text h4,.themify_builder .text-93-sub_row_4-0-0-1-0.module-text h5,.themify_builder .text-93-sub_row_4-0-0-1-0.module-text h6{color:#ffffff; }
.themify_builder .text-93-sub_row_4-0-0-1-0.module-text{margin-bottom:3%; }
.themify_builder .buttons-93-sub_row_4-0-0-1-1 div.module-buttons{text-align: center; }
.themify_builder_93_row.module_row_5.module_row{padding-top:8%; padding-bottom:8%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_5.module_row{padding-top:15%; padding-bottom:15%; }
}
.themify_builder .text-93-5-0-0.module-text{text-align: center; margin-bottom:7%; }
.themify_builder .image-93-sub_row_5-0-1-0-0.module-image{margin-bottom:50px; }
.themify_builder .image-93-sub_row_5-0-1-0-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-1-0-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-1-0-0.module-image .image-title{font-size:18px; }
@media screen and (max-width: 480px) {.themify_builder .image-93-sub_row_5-0-1-0-0.module-image{margin-bottom:0px; }
}
.themify_builder .image-93-sub_row_5-0-1-1-0.module-image{margin-bottom:50px; }
.themify_builder .image-93-sub_row_5-0-1-1-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-1-1-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-1-1-0.module-image .image-title{font-size:18px; }
@media screen and (max-width: 480px) {.themify_builder .image-93-sub_row_5-0-1-1-0.module-image{margin-bottom:0px; }
}
.themify_builder .image-93-sub_row_5-0-1-2-0.module-image{margin-bottom:50px; }
.themify_builder .image-93-sub_row_5-0-1-2-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-1-2-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-1-2-0.module-image .image-title{font-size:18px; }
@media screen and (max-width: 480px) {.themify_builder .image-93-sub_row_5-0-1-2-0.module-image{margin-bottom:0px; }
}
.themify_builder .image-93-sub_row_5-0-1-3-0.module-image{margin-bottom:50px; }
.themify_builder .image-93-sub_row_5-0-1-3-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-1-3-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-1-3-0.module-image .image-title{font-size:18px; }
@media screen and (max-width: 480px) {.themify_builder .image-93-sub_row_5-0-1-3-0.module-image{margin-bottom:0px; }
}
.themify_builder .image-93-sub_row_5-0-1-4-0.module-image{margin-bottom:50px; }
.themify_builder .image-93-sub_row_5-0-1-4-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-1-4-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-1-4-0.module-image .image-title{font-size:18px; }
.themify_builder .image-93-sub_row_5-0-2-0-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-2-0-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-2-0-0.module-image .image-title{font-size:18px; }
.themify_builder .image-93-sub_row_5-0-2-1-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-2-1-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-2-1-0.module-image .image-title{font-size:18px; }
.themify_builder .image-93-sub_row_5-0-2-2-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-2-2-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-2-2-0.module-image .image-title{font-size:16px; }
.themify_builder .image-93-sub_row_5-0-2-3-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-2-3-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-2-3-0.module-image .image-title{font-size:18px; }
.themify_builder .image-93-sub_row_5-0-2-4-0.module-image{margin-bottom:50px; }
.themify_builder .image-93-sub_row_5-0-2-4-0.module-image .image-title,.themify_builder .image-93-sub_row_5-0-2-4-0.module-image .image-title a{color:#000000; }
.themify_builder .image-93-sub_row_5-0-2-4-0.module-image .image-title{font-size:18px; }
.themify_builder_93_row.module_row_6.module_row{background-color:#fafafa; }
.themify_builder_93_row.module_row_6.module_row,.themify_builder_93_row.module_row_6 h1,.themify_builder_93_row.module_row_6 h2,.themify_builder_93_row.module_row_6 h3:not(.module-title),.themify_builder_93_row.module_row_6 h4,.themify_builder_93_row.module_row_6 h5,.themify_builder_93_row.module_row_6 h6{color:#ffffff; }
.module_row_6 .module_column_0.tb_93_column.module_column{padding-top:150px; padding-bottom:150px; }
.module_row_6 .module_column_1.tb_93_column.module_column{background-image:-webkit-linear-gradient(64deg,rgb(87, 250, 185) 0%,rgba(163, 40, 235, 0.611765) 98%);
background-image:-moz-linear-gradient(64deg,rgb(87, 250, 185) 0%,rgba(163, 40, 235, 0.611765) 98%);
background-image:-o-linear-gradient(64deg,rgb(87, 250, 185) 0%,rgba(163, 40, 235, 0.611765) 98%);
background-image:-ms-linear-gradient(64deg,rgb(87, 250, 185) 0%,rgba(163, 40, 235, 0.611765) 98%);
background-image:linear-gradient(64deg,rgb(87, 250, 185) 0%,rgba(163, 40, 235, 0.611765) 98%);
padding-top:150px; padding-bottom:150px; }
.module_row_6 .module_column_2.tb_93_column.module_column{background-image: url("https://themify.me/demo/themes/ultra/files/2016/10/girl-4.jpg"); background-position: center top; padding-top:150px; padding-bottom:150px; }
.module_row_6 .module_column_2.tb_93_column.module_column>.builder_row_cover:before{background-color:rgba(175,21,214, 0.61); }
.module_row_6 .module_column_2.tb_93_column.module_column>.builder_row_cover:after{background-image:-webkit-linear-gradient(180deg,rgba(175, 21, 214, 0.83) 0%,rgba(117, 255, 234, 0.64) 100%);
background-image:-moz-linear-gradient(180deg,rgba(175, 21, 214, 0.83) 0%,rgba(117, 255, 234, 0.64) 100%);
background-image:-o-linear-gradient(180deg,rgba(175, 21, 214, 0.83) 0%,rgba(117, 255, 234, 0.64) 100%);
background-image:-ms-linear-gradient(180deg,rgba(175, 21, 214, 0.83) 0%,rgba(117, 255, 234, 0.64) 100%);
background-image:linear-gradient(180deg,rgba(175, 21, 214, 0.83) 0%,rgba(117, 255, 234, 0.64) 100%);
}
.themify_builder_93_row.module_row_7.module_row{padding-top:8%; padding-bottom:4%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_7.module_row{padding-top:15%; padding-bottom:15%; }
}
.module_row_7 .module_column_0.tb_93_column.module_column{padding-left:5%; }
.module_row_7 .module_column_1.tb_93_column.module_column{padding-right:5%; }
.themify_builder_93_row.module_row_8.module_row{text-align: center; padding-top:4%; padding-bottom:4%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_8.module_row{padding-top:15%; padding-bottom:15%; }
}
.module_row_8 .module_column_0.tb_93_column.module_column{padding-left:5%; }
.themify_builder .text-93-8-0-0.module-text{text-align: right; margin-bottom:5%; }
.module_row_8 .module_column_1.tb_93_column.module_column{padding-right:5%; }
.themify_builder_93_row.module_row_9.module_row{padding-top:4%; padding-bottom:4%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_9.module_row{padding-top:15%; padding-bottom:15%; }
}
.module_row_9 .module_column_1.tb_93_column.module_column{padding-right:70px; padding-left:70px; }
.themify_builder_93_row.module_row_10.module_row{padding-top:4%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_10.module_row{padding-top:15%; padding-bottom:0px; }
}
.module_row_10 .module_column_0.tb_93_column.module_column{padding-right:50px; padding-left:50px; }
@media screen and (max-width: 480px) {.module_row_10 .module_column_1.tb_93_column.module_column{padding:0px; }
}
.themify_builder .image-93-sub_row_10-1-0-0-0.module-image{padding-bottom:0px; }
@media screen and (max-width: 480px) {.themify_builder .image-93-sub_row_10-1-0-0-0.module-image{padding:0px; margin:0px; }
}
.themify_builder_93_row.module_row_11.module_row,.themify_builder_93_row.module_row_11 h1,.themify_builder_93_row.module_row_11 h2,.themify_builder_93_row.module_row_11 h3:not(.module-title),.themify_builder_93_row.module_row_11 h4,.themify_builder_93_row.module_row_11 h5,.themify_builder_93_row.module_row_11 h6{color:#ffffff; }
.themify_builder_93_row.module_row_11.module_row{padding-top:8%; padding-bottom:8%; }
@media screen and (max-width: 480px) {.themify_builder_93_row.module_row_11.module_row{padding-top:15%; padding-bottom:15%; }
}
.themify_builder .text-93-11-0-0.module-text{margin-bottom:3em; }
.themify_builder .buttons-93-11-0-1 div.module-buttons{text-align: center; }
