.themify_builder_39_row.module_row_0.module_row{padding-top:5%; padding-bottom:5%; }
.themify_builder .image-39-0-0-0.module-image{padding-right:5%; padding-left:5%; }
.themify_builder .text-39-0-1-0.module-text{padding-top:0%; padding-right:5%; padding-left:5%; }
.themify_builder_39_row.module_row_1.module_row{background-color:#4d7de1; padding-top:8%; }
.module_row_1 .module_column_0.tb_39_column.module_column{padding-right:10%; padding-left:10%; }
.themify_builder .text-39-1-0-0.module-text,.themify_builder .text-39-1-0-0.module-text h1,.themify_builder .text-39-1-0-0.module-text h2,.themify_builder .text-39-1-0-0.module-text h3:not(.module-title),.themify_builder .text-39-1-0-0.module-text h4,.themify_builder .text-39-1-0-0.module-text h5,.themify_builder .text-39-1-0-0.module-text h6{color:#ffffff; }
.themify_builder .text-39-1-0-0.module-text{text-align: center; }
.themify_builder .buttons-39-1-0-1 div.module-buttons{text-align: center; }
.module_row_2 .module_column_1.tb_39_column.module_column{padding-right:10%; padding-left:10%; }
.themify_builder .text-39-2-1-0.module-text,.themify_builder .text-39-2-1-0.module-text h1,.themify_builder .text-39-2-1-0.module-text h2,.themify_builder .text-39-2-1-0.module-text h3:not(.module-title),.themify_builder .text-39-2-1-0.module-text h4,.themify_builder .text-39-2-1-0.module-text h5,.themify_builder .text-39-2-1-0.module-text h6{color:#000000; }
.themify_builder .text-39-2-1-0.module-text{text-align: center; padding-right:5%; padding-left:5%; }
.themify_builder_39_row.module_row_3.module_row{border-top:1px solid #e8e8e8; }
.themify_builder .image-39-3-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-39-3-0-0.module-image{padding-bottom:20%; }
.themify_builder .image-39-3-0-1.module-image .image-content{text-align: center; }
.themify_builder .image-39-3-1-0.module-image .image-content{text-align: center; }
.themify_builder .image-39-3-1-0.module-image{padding-bottom:20%; }
.themify_builder .image-39-3-1-1.module-image .image-content{text-align: center; }
.themify_builder .image-39-3-2-0.module-image .image-content{text-align: center; }
.themify_builder .image-39-3-2-0.module-image{padding-bottom:20%; }
.themify_builder .image-39-3-2-1.module-image .image-content{text-align: center; }
.themify_builder_39_row.module_row_4.module_row{background-color:#4d7de1; padding-top:7%; }
.themify_builder .text-39-4-0-0.module-text,.themify_builder .text-39-4-0-0.module-text h1,.themify_builder .text-39-4-0-0.module-text h2,.themify_builder .text-39-4-0-0.module-text h3:not(.module-title),.themify_builder .text-39-4-0-0.module-text h4,.themify_builder .text-39-4-0-0.module-text h5,.themify_builder .text-39-4-0-0.module-text h6{color:#ffffff; }
.themify_builder .text-39-4-0-0.module-text{text-align: center; padding-right:5%; padding-left:5%; }
.themify_builder .image-39-4-0-1.module-image{padding-top:2%; }
.themify_builder_39_row.module_row_5.module_row{padding-top:7%; padding-bottom:7%; }
.themify_builder .text-39-5-0-0.module-text{text-align: center; margin-right:5%; margin-bottom:30px; margin-left:5%; }
.themify_builder .buttons-39-5-0-1 div.module-buttons{text-align: center; }
