.themify_builder_1972_row.module_row_0.module_row{background-attachment: scroll; background-position: center center; padding-right:9%; padding-left:9%; }
.themify_builder .plain-text-1972-0-1-0.module-plain-text{background-repeat: repeat; }
