.themify_builder_1292_row.module_row_0.module_row{background-attachment: scroll; background-position: center center; padding-right:2%; padding-left:2%; }
.themify_builder .text-1292-0-0-0.module-text{background-repeat: repeat; }
